* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#app {
    min-height: 100vh;
    padding-left: 200px;
}

@media (max-width: 768px) {
    #app {
        padding-left: 0px;
    }
}